####################################
## Visual Studio / .NET Core .gitignore
####################################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db

# MonoDevelop / Xamarin Studio user-specific files
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Rider (JetBrains)
.idea/
*.sln.iml

# NuGet packages
*.nupkg
# Uncomment if using NuGet Package Restore
# packages/

# NuGet Symbol Packages
*.snupkg

# Microsoft Azure Web App publish settings
PublishProfiles/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file (Mac)
.DS_Store

# Others
*.pidb
*.svd
*.pdb
*.cache
*.log

# Test Results
TestResults/
*.trx

####################################
## End of .NET Comprehensive .gitignore
####################################
